{% extends 'base.html' %}
{% block title %}asdf{% endblock %}
    {% block contens %}
    <br>
    <div class="'container">
        <div class="row">
            <div class="col offset-3">
                <h2>{{object.title}}</h2>
                <p>{{object.comment}}</p>
                <br>
                <p>{{object.posted_at}}nitoukou</p>
                <br>
                <p><img src='{{ object.imgel.url}}'></img></p>
                {% if object.image2 %}
                <p><img src='{{ object.image2.url }}'></img></p>
                {% endif %}
                {% if request.user ==  object.user %}
                <from method="POST">
                    <a herf="{% url 'gadget:gadget_delete' object.pk %}"
                    class="btn btn-primaryy my-2">sakuzyo</a>
                </from>
                {% endif %}
            </div>
        </div>
        {% endblock %}