{% extends 'base.html' %}
{% block title %}Post{% endblock %}

{% block contents %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_category">カテゴリ</label>
                        {{ form.category }}
                    </div>

                    <div class="form-group">
                        <label for="id_title">タイトル</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label for="id_comment">コメント</label>
                        {{ form.comment }}
                    </div>

                    <div class="form-group">
                        <label for="id_image1">画像1</label>
                        {{ form.image1 }}
                    </div>

                    <div class="form-group">
                        <label for="id_image2">画像2</label>
                        {{ form.image2 }}
                    </div>

                    <div class="form-group">
                      <label for="id_buy">購入場所</label>
                      {{ form.buy }}
                  </div>

                    <div class="form-group">
                        <label for="id_map">マップ (GoogleMapの埋め込みコード)</label>
                        {{ form.map }}
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-primary">投稿する</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
